<div id="<%= dom_id visitor %>">
  <p>
    <strong>Nome:</strong>
    <%= visitor.name %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= visitor.cpf %>
  </p>

  <p>
    <strong>Rg:</strong>
    <%= visitor.rg %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= visitor.phone %>
  </p>

</div>
