<%= form_with(model: visit) do |form| %>
  <% if visit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
        <% visit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.datetime_field :date %>
  </div>

  <div>
    <p>
    <%= form.label :employee_id %>

    </p>
    <%= form.collection_select :employee_id, @employees, :id, :name, prompt: "Selecione um Funcionário" %>
  </div>

  <div>
    <p>
    <%= form.label :visitor_id %>

    </p>
    <%= form.collection_select :visitor_id, Visitor.all, :id, :name, prompt: "Selecione um Visitante" %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
