<p style="color: green"><%= notice %></p>

<div id="list-obj">


<%= render @visit %>

<div id="btns-sec">
  <%= link_to "Editar visita", edit_visit_path(@visit) %> |
  <%= link_to "Voltar para visitas", visits_path %>

</div>
<div id="btn-destroy">
  <%= button_to "Excluir visita", @visit, method: :delete %>
</div>
</div>