<h1>Bem Vindo <%= current_employee.name%></h1>

<div id="edit-obj">
<%= link_to 'Editar perfil', edit_employee_registration_path%>
</div>

<div id="logout-btn">
<%= form_tag destroy_employee_session_path, method: :delete do %>
  <%= submit_tag 'Logout' %>
<% end %>
</div>

<div id="list-obj">

  <div id="body-list">
<% @vitts.each do |visit| %>
  <p>Visita a 
      <%= link_to visit.employee.unity.name, visit %> 
      | Visitante: <%= visit.visitor.name%> | Funcionário: <%= visit.employee.name%>
      | <%= visit.date%>
    </p>
<% end %>
</div>
</div>
